
.side {
    width: 200px;
    margin: 0 auto
}

.side p {
    margin: 0;
    margin-bottom: 10px;
}

.side-right {
    float: right;
    clear: right;
    margin-right: calc(-200px - 2em);
    background-color: #ffffff;
    color: #495057;
}

.side-right p {
    font-size: .9rem
}

.footnotes ol li p {
    margin: 0
}

.footnotes hr {
    border: none;
    border-top: 1px solid var(--border)
}

.footnote-ref {
    box-shadow: none!important
}

.footnote-backref {
    box-shadow: none!important
}

.note-ref {
    cursor: pointer;
    border: none;
    box-shadow: none!important;
    text-decoration: unset!important;
}

.note-ref:hover {
    box-shadow: none;
    border: none;
}

.bg-number {
    background: #f1f4f8;
    font-size: .9rem;
    color: #495057;
    text-decoration: none;
    padding: 1px 5px;
    border-radius: 5px
}

sup {
    background: #f1f4f8;
    color: #495057;
    padding: 1px 5px;
    border-radius: 5px
}

@media(max-width: 1280px) {
    .side {
        width:100%;
        padding: 0 2em
    }

    .side-right {
        float: none;
        clear: both;
        margin: 1em auto;
        background: 0 0
    }
}

@media(min-width: 1280px) {
    .note-ref:hover~.side {
        display:inline-block;
        position: absolute;
        margin-left: 1rem;
        padding: .5rem;
        box-sizing: content-box
    }
}